/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'RG-Icon-Set';
  src: url("../fonts/RG-Icon-Set.eot?-mrxtj");
  src: url("../fonts/RG-Icon-Set.eot?#iefix-mrxtj") format("embedded-opentype"), url("../fonts/RG-Icon-Set.ttf?-mrxtj") format("truetype"), url("../fonts/RG-Icon-Set.woff?-mrxtj") format("woff"), url("../fonts/RG-Icon-Set.svg?-mrxtj#RG-Icon-Set") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/_icons.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'RG-Icon-Set';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/_icons.scss */
.icon-eye:before {
  content: "\e000";
}

/* line 29, ../sass/_icons.scss */
.icon-paper-clip:before {
  content: "\e001";
}

/* line 32, ../sass/_icons.scss */
.icon-mail:before {
  content: "\e002";
}

/* line 35, ../sass/_icons.scss */
.icon-toggle:before {
  content: "\e003";
}

/* line 38, ../sass/_icons.scss */
.icon-layout:before {
  content: "\e004";
}

/* line 41, ../sass/_icons.scss */
.icon-link:before {
  content: "\6c";
}

/* line 44, ../sass/_icons.scss */
.icon-bell:before {
  content: "\e006";
}

/* line 47, ../sass/_icons.scss */
.icon-lock:before {
  content: "\e007";
}

/* line 50, ../sass/_icons.scss */
.icon-unlock:before {
  content: "\e008";
}

/* line 53, ../sass/_icons.scss */
.icon-ribbon:before {
  content: "\72";
}

/* line 56, ../sass/_icons.scss */
.icon-image:before {
  content: "\e010";
}

/* line 59, ../sass/_icons.scss */
.icon-signal:before {
  content: "\e011";
}

/* line 62, ../sass/_icons.scss */
.icon-target:before {
  content: "\e012";
}

/* line 65, ../sass/_icons.scss */
.icon-clipboard:before {
  content: "\e013";
}

/* line 68, ../sass/_icons.scss */
.icon-clock:before {
  content: "\e014";
}

/* line 71, ../sass/_icons.scss */
.icon-watch:before {
  content: "\e015";
}

/* line 74, ../sass/_icons.scss */
.icon-air-play:before {
  content: "\e016";
}

/* line 77, ../sass/_icons.scss */
.icon-camera:before {
  content: "\e017";
}

/* line 80, ../sass/_icons.scss */
.icon-video:before {
  content: "\e018";
}

/* line 83, ../sass/_icons.scss */
.icon-disc:before {
  content: "\e019";
}

/* line 86, ../sass/_icons.scss */
.icon-printer:before {
  content: "\e020";
}

/* line 89, ../sass/_icons.scss */
.icon-monitor:before {
  content: "\e021";
}

/* line 92, ../sass/_icons.scss */
.icon-server:before {
  content: "\e022";
}

/* line 95, ../sass/_icons.scss */
.icon-cog:before {
  content: "\e023";
}

/* line 98, ../sass/_icons.scss */
.icon-heart:before {
  content: "\e024";
}

/* line 101, ../sass/_icons.scss */
.icon-paragraph:before {
  content: "\e025";
}

/* line 104, ../sass/_icons.scss */
.icon-align-justify:before {
  content: "\e026";
}

/* line 107, ../sass/_icons.scss */
.icon-align-left:before {
  content: "\e027";
}

/* line 110, ../sass/_icons.scss */
.icon-align-center:before {
  content: "\e028";
}

/* line 113, ../sass/_icons.scss */
.icon-align-right:before {
  content: "\e029";
}

/* line 116, ../sass/_icons.scss */
.icon-book:before {
  content: "\e030";
}

/* line 119, ../sass/_icons.scss */
.icon-layers:before {
  content: "\e031";
}

/* line 122, ../sass/_icons.scss */
.icon-stack:before {
  content: "\e032";
}

/* line 125, ../sass/_icons.scss */
.icon-stack-2:before {
  content: "\e033";
}

/* line 128, ../sass/_icons.scss */
.icon-paper:before {
  content: "\e034";
}

/* line 131, ../sass/_icons.scss */
.icon-paper-stack:before {
  content: "\e035";
}

/* line 134, ../sass/_icons.scss */
.icon-search:before {
  content: "\73";
}

/* line 137, ../sass/_icons.scss */
.icon-zoom-in:before {
  content: "\e037";
}

/* line 140, ../sass/_icons.scss */
.icon-zoom-out:before {
  content: "\e038";
}

/* line 143, ../sass/_icons.scss */
.icon-reply:before {
  content: "\e039";
}

/* line 146, ../sass/_icons.scss */
.icon-circle-plus:before {
  content: "\e040";
}

/* line 149, ../sass/_icons.scss */
.icon-circle-minus:before {
  content: "\e041";
}

/* line 152, ../sass/_icons.scss */
.icon-circle-check:before {
  content: "\e042";
}

/* line 155, ../sass/_icons.scss */
.icon-circle-cross:before {
  content: "\e043";
}

/* line 158, ../sass/_icons.scss */
.icon-square-plus:before {
  content: "\e044";
}

/* line 161, ../sass/_icons.scss */
.icon-square-minus:before {
  content: "\e045";
}

/* line 164, ../sass/_icons.scss */
.icon-square-check:before {
  content: "\e046";
}

/* line 167, ../sass/_icons.scss */
.icon-square-cross:before {
  content: "\e047";
}

/* line 170, ../sass/_icons.scss */
.icon-microphone:before {
  content: "\e048";
}

/* line 173, ../sass/_icons.scss */
.icon-record:before {
  content: "\e049";
}

/* line 176, ../sass/_icons.scss */
.icon-skip-back:before {
  content: "\e050";
}

/* line 179, ../sass/_icons.scss */
.icon-rewind:before {
  content: "\e051";
}

/* line 182, ../sass/_icons.scss */
.icon-play:before {
  content: "\e052";
}

/* line 185, ../sass/_icons.scss */
.icon-pause:before {
  content: "\e053";
}

/* line 188, ../sass/_icons.scss */
.icon-stop:before {
  content: "\e054";
}

/* line 191, ../sass/_icons.scss */
.icon-fast-forward:before {
  content: "\e055";
}

/* line 194, ../sass/_icons.scss */
.icon-skip-forward:before {
  content: "\e056";
}

/* line 197, ../sass/_icons.scss */
.icon-shuffle:before {
  content: "\e057";
}

/* line 200, ../sass/_icons.scss */
.icon-repeat:before {
  content: "\e058";
}

/* line 203, ../sass/_icons.scss */
.icon-folder:before {
  content: "\e059";
}

/* line 206, ../sass/_icons.scss */
.icon-umbrella:before {
  content: "\e060";
}

/* line 209, ../sass/_icons.scss */
.icon-moon:before {
  content: "\e061";
}

/* line 212, ../sass/_icons.scss */
.icon-thermometer:before {
  content: "\e062";
}

/* line 215, ../sass/_icons.scss */
.icon-drop:before {
  content: "\e063";
}

/* line 218, ../sass/_icons.scss */
.icon-sun:before {
  content: "\e064";
}

/* line 221, ../sass/_icons.scss */
.icon-cloud:before {
  content: "\e065";
}

/* line 224, ../sass/_icons.scss */
.icon-cloud-upload:before {
  content: "\e066";
}

/* line 227, ../sass/_icons.scss */
.icon-cloud-download:before {
  content: "\e067";
}

/* line 230, ../sass/_icons.scss */
.icon-upload:before {
  content: "\e068";
}

/* line 233, ../sass/_icons.scss */
.icon-download:before {
  content: "\e069";
}

/* line 236, ../sass/_icons.scss */
.icon-location:before {
  content: "\e070";
}

/* line 239, ../sass/_icons.scss */
.icon-location-2:before {
  content: "\e071";
}

/* line 242, ../sass/_icons.scss */
.icon-map:before {
  content: "\e072";
}

/* line 245, ../sass/_icons.scss */
.icon-battery:before {
  content: "\e073";
}

/* line 248, ../sass/_icons.scss */
.icon-head:before {
  content: "\75";
}

/* line 251, ../sass/_icons.scss */
.icon-briefcase:before {
  content: "\e075";
}

/* line 254, ../sass/_icons.scss */
.icon-speech-bubble:before {
  content: "\e076";
}

/* line 257, ../sass/_icons.scss */
.icon-anchor:before {
  content: "\e077";
}

/* line 260, ../sass/_icons.scss */
.icon-globe:before {
  content: "\e078";
}

/* line 263, ../sass/_icons.scss */
.icon-box:before {
  content: "\e079";
}

/* line 266, ../sass/_icons.scss */
.icon-reload:before {
  content: "\e080";
}

/* line 269, ../sass/_icons.scss */
.icon-share:before {
  content: "\e081";
}

/* line 272, ../sass/_icons.scss */
.icon-marquee:before {
  content: "\e082";
}

/* line 275, ../sass/_icons.scss */
.icon-marquee-plus:before {
  content: "\e083";
}

/* line 278, ../sass/_icons.scss */
.icon-marquee-minus:before {
  content: "\e084";
}

/* line 281, ../sass/_icons.scss */
.icon-tag:before {
  content: "\e085";
}

/* line 284, ../sass/_icons.scss */
.icon-power:before {
  content: "\e086";
}

/* line 287, ../sass/_icons.scss */
.icon-command:before {
  content: "\e087";
}

/* line 290, ../sass/_icons.scss */
.icon-alt:before {
  content: "\e088";
}

/* line 293, ../sass/_icons.scss */
.icon-esc:before {
  content: "\e089";
}

/* line 296, ../sass/_icons.scss */
.icon-bar-graph:before {
  content: "\e090";
}

/* line 299, ../sass/_icons.scss */
.icon-bar-graph-2:before {
  content: "\e091";
}

/* line 302, ../sass/_icons.scss */
.icon-pie-graph:before {
  content: "\e092";
}

/* line 305, ../sass/_icons.scss */
.icon-star:before {
  content: "\e093";
}

/* line 308, ../sass/_icons.scss */
.icon-arrow-left:before {
  content: "\e094";
}

/* line 311, ../sass/_icons.scss */
.icon-arrow-right:before {
  content: "\e095";
}

/* line 314, ../sass/_icons.scss */
.icon-arrow-up:before {
  content: "\e096";
}

/* line 317, ../sass/_icons.scss */
.icon-arrow-down:before {
  content: "\e097";
}

/* line 320, ../sass/_icons.scss */
.icon-volume:before {
  content: "\e098";
}

/* line 323, ../sass/_icons.scss */
.icon-mute:before {
  content: "\e099";
}

/* line 326, ../sass/_icons.scss */
.icon-content-right:before {
  content: "\e100";
}

/* line 329, ../sass/_icons.scss */
.icon-content-left:before {
  content: "\e101";
}

/* line 332, ../sass/_icons.scss */
.icon-grid:before {
  content: "\e102";
}

/* line 335, ../sass/_icons.scss */
.icon-grid-2:before {
  content: "\e103";
}

/* line 338, ../sass/_icons.scss */
.icon-columns:before {
  content: "\e104";
}

/* line 341, ../sass/_icons.scss */
.icon-loader:before {
  content: "\e105";
}

/* line 344, ../sass/_icons.scss */
.icon-bag:before {
  content: "\62";
}

/* line 347, ../sass/_icons.scss */
.icon-ban:before {
  content: "\e107";
}

/* line 350, ../sass/_icons.scss */
.icon-flag:before {
  content: "\e108";
}

/* line 353, ../sass/_icons.scss */
.icon-trash:before {
  content: "\e109";
}

/* line 356, ../sass/_icons.scss */
.icon-expand:before {
  content: "\e110";
}

/* line 359, ../sass/_icons.scss */
.icon-contract:before {
  content: "\e111";
}

/* line 362, ../sass/_icons.scss */
.icon-maximize:before {
  content: "\e112";
}

/* line 365, ../sass/_icons.scss */
.icon-minimize:before {
  content: "\e113";
}

/* line 368, ../sass/_icons.scss */
.icon-plus:before {
  content: "\e114";
}

/* line 371, ../sass/_icons.scss */
.icon-minus:before {
  content: "\e115";
}

/* line 374, ../sass/_icons.scss */
.icon-check:before {
  content: "\e116";
}

/* line 377, ../sass/_icons.scss */
.icon-cross:before {
  content: "\78";
}

/* line 380, ../sass/_icons.scss */
.icon-move:before {
  content: "\e118";
}

/* line 383, ../sass/_icons.scss */
.icon-delete:before {
  content: "\e119";
}

/* line 386, ../sass/_icons.scss */
.icon-menu:before {
  content: "\6d";
}

/* line 389, ../sass/_icons.scss */
.icon-archive:before {
  content: "\e121";
}

/* line 392, ../sass/_icons.scss */
.icon-inbox:before {
  content: "\e122";
}

/* line 395, ../sass/_icons.scss */
.icon-outbox:before {
  content: "\e123";
}

/* line 398, ../sass/_icons.scss */
.icon-file:before {
  content: "\e124";
}

/* line 401, ../sass/_icons.scss */
.icon-file-add:before {
  content: "\e125";
}

/* line 404, ../sass/_icons.scss */
.icon-file-subtract:before {
  content: "\e126";
}

/* line 407, ../sass/_icons.scss */
.icon-help:before {
  content: "\e127";
}

/* line 410, ../sass/_icons.scss */
.icon-open:before {
  content: "\e128";
}

/* line 413, ../sass/_icons.scss */
.icon-ellipsis:before {
  content: "\65";
}

/* This stylesheet generated by Transfonter (http://transfonter.org) */
@font-face {
  font-family: 'DinCondenced';
  src: url("../fonts/DINCondensed-Bold.eot");
  src: url("../fonts/DINCondensed-Bold.eot") format("embedded-opentype"), url("../fonts/DINCondensed-Bold.woff") format("woff"), url("../fonts/DINCondensed-Bold.ttf") format("truetype"), url("../fonts/DINCondensed-Bold.svg#DinCondenced") format("svg");
  font-style: normal;
  font-weight: normal;
}
/* This stylesheet generated by Transfonter (http://transfonter.org) */
@font-face {
  font-family: 'AvenirNext';
  src: url("../fonts/AvenirNext-UltraLightItalic.eot");
  src: url("../fonts/AvenirNext-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-UltraLightItalic.woff") format("woff"), url("../fonts/AvenirNext-UltraLightItalic.ttf") format("truetype"), url("../fonts/AvenirNext-UltraLightItalic.svg#AvenirNext-UltraLightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'AvenirNext';
  src: url("../fonts/AvenirNext-MediumItalic.eot");
  src: url("../fonts/AvenirNext-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-MediumItalic.woff") format("woff"), url("../fonts/AvenirNext-MediumItalic.ttf") format("truetype"), url("../fonts/AvenirNext-MediumItalic.svg#AvenirNext-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'AvenirNext';
  src: url("../fonts/AvenirNext-DemiBold.eot");
  src: url("../fonts/AvenirNext-DemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-DemiBold.woff") format("woff"), url("../fonts/AvenirNext-DemiBold.ttf") format("truetype"), url("../fonts/AvenirNext-DemiBold.svg#AvenirNext-DemiBold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: url("../fonts/AvenirNext-UltraLight.eot");
  src: url("../fonts/AvenirNext-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-UltraLight.woff") format("woff"), url("../fonts/AvenirNext-UltraLight.ttf") format("truetype"), url("../fonts/AvenirNext-UltraLight.svg#AvenirNext-UltraLight") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: url("../fonts/AvenirNext-Italic.eot");
  src: url("../fonts/AvenirNext-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Italic.woff") format("woff"), url("../fonts/AvenirNext-Italic.ttf") format("truetype"), url("../fonts/AvenirNext-Italic.svg#AvenirNext-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'AvenirNext';
  src: url("../fonts/AvenirNext-Bold.eot");
  src: url("../fonts/AvenirNext-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Bold.woff") format("woff"), url("../fonts/AvenirNext-Bold.ttf") format("truetype"), url("../fonts/AvenirNext-Bold.svg#AvenirNext-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: url("../fonts/AvenirNext-Medium.eot");
  src: url("../fonts/AvenirNext-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Medium.woff") format("woff"), url("../fonts/AvenirNext-Medium.ttf") format("truetype"), url("../fonts/AvenirNext-Medium.svg#AvenirNext-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: url("../fonts/AvenirNext-BoldItalic.eot");
  src: url("../fonts/AvenirNext-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-BoldItalic.woff") format("woff"), url("../fonts/AvenirNext-BoldItalic.ttf") format("truetype"), url("../fonts/AvenirNext-BoldItalic.svg#AvenirNext-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'AvenirNext';
  src: url("../fonts/AvenirNext-HeavyItalic.eot");
  src: url("../fonts/AvenirNext-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-HeavyItalic.woff") format("woff"), url("../fonts/AvenirNext-HeavyItalic.ttf") format("truetype"), url("../fonts/AvenirNext-HeavyItalic.svg#AvenirNext-HeavyItalic") format("svg");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'AvenirNext';
  src: url("../fonts/AvenirNext-Heavy.eot");
  src: url("../fonts/AvenirNext-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Heavy.woff") format("woff"), url("../fonts/AvenirNext-Heavy.ttf") format("truetype"), url("../fonts/AvenirNext-Heavy.svg#AvenirNext-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: url("../fonts/AvenirNext-Regular.eot");
  src: url("../fonts/AvenirNext-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Regular.woff") format("woff"), url("../fonts/AvenirNext-Regular.ttf") format("truetype"), url("../fonts/AvenirNext-Regular.svg#AvenirNext-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: url("../fonts/AvenirNext-DemiBoldItalic.eot");
  src: url("../fonts/AvenirNext-DemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-DemiBoldItalic.woff") format("woff"), url("../fonts/AvenirNext-DemiBoldItalic.ttf") format("truetype"), url("../fonts/AvenirNext-DemiBoldItalic.svg#AvenirNext-DemiBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}
/* VARS 
-------------------------------------------------------------- */
/*  COLORS  */
/*  BORDERS  */
/*  TYPOGROPHY */
/*  TRANSITIONS */
/* MIX-INS 
-------------------------------------------------------------- */
/* line 72, ../sass/_vars.scss */
.link-invert {
  color: #fff;
}
/* line 61, ../sass/_vars.scss */
.link-invert:hover {
  color: #B8E986;
}

/* line 76, ../sass/_vars.scss */
.trans-all, a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

/* line 83, ../sass/_vars.scss */
.section-header-over {
  margin-bottom: -7px;
  position: relative;
  z-index: 100;
}

/* BUTTONS
-------------------------------------------------------------- */
/* line 96, ../sass/_vars.scss */
.btn, .btn-lt, .btn-dk {
  font-family: "AvenirNext", sans-serif;
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #D8D8D8;
  color: #000;
  padding: 5px 15px;
  font-size: .8em;
}

/* line 118, ../sass/_vars.scss */
.btn-sm {
  padding: 2px 8px;
  font-size: .6em;
}

/* line 123, ../sass/_vars.scss */
.btn-med {
  padding: 10px 15px;
  font-size: .8em;
}

/* line 128, ../sass/_vars.scss */
.btn-lg {
  padding: 20px 30px;
  font-size: 1em;
}

/* line 133, ../sass/_vars.scss */
.btn-lt {
  background-color: #D8D8D8;
  color: #000;
}
/* line 112, ../sass/_vars.scss */
.btn-lt:hover {
  background-color: #f6f6f6;
  color: #000;
}

/* line 138, ../sass/_vars.scss */
.btn-dk {
  background-color: #000;
  color: #f6f6f6;
}
/* line 112, ../sass/_vars.scss */
.btn-dk:hover {
  background-color: #B8E986;
  color: #000;
}

/* PLACEHOLDERS & EXTENDS
-------------------------------------------------------------- */
/* BASIC STYLES
-------------------------------------------------------------- */
/* line 11, ../sass/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 16, ../sass/main.scss */
* img {
  max-width: 100%;
  height: auto;
}

/* line 23, ../sass/main.scss */
body {
  font: 16px/1.5 "AvenirNext", sans-serif;
  background-color: #f6f6f6;
  color: #000;
}

/* line 29, ../sass/main.scss */
a {
  color: #000;
  text-decoration: none;
}
/* line 61, ../sass/_vars.scss */
a:hover {
  color: #B8E986;
}

/* line 36, ../sass/main.scss */
h1,
h2 {
  font-family: "DinCondenced", sans-serif;
}

/* line 45, ../sass/main.scss */
h1 {
  font-size: 5em;
}

/* HEADER
-------------------------------------------------------------- */
