@import "compass";
@import "_reset";
@import "_fonts";
@import "_icons";
@import "_base";

/* Layout
-------------------------------------------------------------- */
#wrap{
	position: relative;
	height: 100%;
}

#profile-images{
	position: fixed;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	z-index: 100;
	/*display: none;*/

	@include bp(l){
		width: 30%;
	}

	@include bp(s){
		width: 100%;
		height: 400px;
		position: relative;
	}
}

#back-to-top{
	font-size: 40px;
	
	text-align: center;

	a{
		display: block;
		padding: 40px 0;
		color: $color_main;

		&:hover{
			background-color: #ccc;
		}
	}
}

#header{
	position: fixed;
	top: 0;
	left: 20%;
	width: 80%;
	text-align: center;
	background-color: #fff;
	z-index: 1;
	padding: 60px 0 0;
	height: 280px;

	@include bp(l){
		width: 70%;
		left: 30%;
	}



	h1{
		font-family: $font_bebas;
		font-size: 80px;
		margin-bottom: 20px;
	}

	@include bp(s){
		position: relative;
		left: 0;
		width: 100%;
		height: 250px;

		h1{
			font-size: 60px;
		}
	}

	.social-icons{

		a{
			color: $color_main;
			font-size: 24px;
			width: 40px;
			height: 40px;
			text-align: center;
			line-height: 40px
		}
	}
}

#main{
	position: relative;
	margin: 280px 0 0 20%;
	z-index: 10;

	@include bp(l){
		margin: 280px 0 0 30%;
	}

	h1{
		text-align: center;
		font-family: "LatoLightItalic";
		padding: 60px 0 80px;
		clear: both;
		background-color: $page_med;
	}

	@include bp(s){
		margin: 0;

		h1{
			font-size: 30px;
			padding: 40px 20px;
		}
	}
}


#whats-up{
	@include pie-clearfix;
	background-color: $page_bg;
	padding-bottom: 80px;
}


#instagram,
#tweets{
	padding-top: 40px;
	.icon{
		display: block;
		text-align: center;
		color: $color_main;
		font-size: 80px;
		margin-bottom: 40px;
	}
}

#instagram{
	@include pie-clearfix;
	float: left;
	width: 44%;
	margin: 0 2% 0 4%;

	@include bp(s){
		float: none;
		width: 100%;
		margin: 40px 0 0;
		padding: 1%;
	}


}

#tweets{
	float: left;
	width: 44%;
	margin: 0 4% 0 2%;

	li{
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: #999 dashed 1px;
	}

	.user{

		img{
			float: left;
			margin-right: 10px;
		}
	}

	.timePosted{
		font-family: "LatoLightItalic";
		font-size: 14px;
		color: lighten($color_main, 30%);
	}

	@include bp(s){
		float: none;
		width: 100%;
		margin: 40px 0 0;
		padding: 0 2%;
	}
}

#instafeed{
	

	a{
		float: left;
		width: 25%;
		padding: 2px;
		
		img{
			width: 100%;
			
			height: auto;
		}

		@include bp(l){
			width: 33%;
		}

		@include bp(m){
			width: 50%;
		}
	}
}



/*		Profile Images */
#profile-images{

}

#profile-image-0{
	@include background-size(cover);
	background: {
      image: image-url("Bryan-Edwards-wall-01.jpg");
      repeat: no-repeat;
      position: top center;

   }
	
	width: 100%;
	height: 100%;
	
	@include bp(s){
		background: {
	      image: image-url("Bryan-Edwards-headshot.jpg");
	      repeat: no-repeat;
	      position: center center;

	   }
	}

	
}

.project + .project{
	margin-top: 280px;
	
	@include bp(s){
		margin-top: 80px;	
	}

}


#footer{
	text-align: center;
	font-family: "LatoLightItalic";
	padding: 160px 0 180px;
	clear: both;
	background-color: $page_med;
	font-size: 20px;
}

/*		Project  */
.project{
	clear: both;
	background-color: $page_bg;

	.header{
		background-color: $page_bg !important;
		font-family: $font_bebas;
	  	font-weight: 200;
	  	font-size: 40px;
	  	text-align: center;
	  	padding: 40px 0;
	  	/*display: none;*/
		
		@include bp(s){
			font-size: 30px;
			letter-spacing: 1px;
		}

	}

	.cover{
		height: 600px;

		@include bp(m){
			height: 300px;
		}
	}

	.info{
		margin: auto;
		width: 60%;
		
		@include bp(l){
			width: 80%;
		}

		@include bp(m){
			width: 100%;
		}
	}

	h1{
		font-size: 46px;
		padding: 20px 20px 5px 20px !important;
		text-align: left !important;
		font-family: $font_main !important;
		background-color: transparent !important;
		


	}

	.tagline{
		color: #999;
		padding: 0 20px 40px;
		font-size: 30px;
		font-family: "LatoLightItalic";
	
		@include bp(s){
			font-size: 24px;
			padding-bottom: 20px;
		}
	}

	.desc{
		padding: 0 20px;
		
		padding-bottom: 40px;
		font-size: 24px;
		line-height: 28px;


		@include bp(m){
			width: auto;
		}

		@include bp(s){
			font-size: 16px;
			line-height: normal;
		}
	}

	.footer{
		@include pie-clearfix;
		clear: both;
		padding: 0;
		
		line-height: 40px;
		height: 40px;

		@include bp(s){
			line-height: normal;
			height: auto;
			padding: 0px;
			text-align: center;

			.site{
				float: none;
				font-size: 16px;
			}

			.social-icons{
				float: none;
				padding-top: 20px;

				a{
					font-size: 30px;
					float: none;
					width: 60px;
					height: 60px;
					text-align: center;
					line-height: 60px;
				}
			}
		}
	}

	.site{
		font-family: "LatoRegular";
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 2px;	
		float: left;
		/*background-color: #ccc;*/

		a{
			@include inline-block;
			padding: 0 20px;

			&:hover{
				background-color: #ccc;
				color: $page_bg !important;
			}
		}
	}

	.social-icons{
		float: left;

		a{
			width: 40px;
			height: 40px;
			font-size: 20px;
			float: left;
			text-align: center;
			line-height: 40px;
			color: #fff;


			&:hover{
   			color: #ccc;
   		}
		}
	}
}

#be-design{

	a{
		color: $color_bed;

		&:hover{
   			color: #ccc;
   		}
	}

	.header{
		color: $color_bed;
	}

	.cover{
		@include background-size(cover);
		border-bottom: $color_bed 4px solid;
		background: {
	      image: image-url("BE-Design-clouds.jpg");
	      repeat: no-repeat;
	      position: center center;
	   }

	   line-height: 600px;
	   font-family: $font_bebas;
	   background-color: $color_bed;
	   font-size: 180px;
	   text-align: center;

	   a{
	   	text-shadow: $color_bed 0 0 8px;
	   	color: transparent;
	   	display: block;

	   }

	   @include bp(m){
			line-height: 300px;
			font-size: 80px;

			a{
		   	text-shadow: $color_bed 0 0 4px;
		   	color: transparent;
		   	display: block;
		   }
	   }
	}

	.footer{

		a{
			color: $color_bed;

			
		}

		.site{
			
			a{
				color: $color_bed;

				&:hover{
					color: $color_bed;
	   		}
			}
		}
	}

	.instafeed{
		background-color: $color_bed;
		/*display: none;*/
	}
}

#fc{

	a{
		color: $color_fc_accent;

		&:hover{
   			color: #ccc;
   		}
	}

	.header{
		color: $color_fc_accent;
	}

	.cover{
	   background-color: $color_fc;
	   padding-top: 220px;
	   border-bottom: $color_fc_accent 4px solid;
	   
	   .inner{
	   	width: 700px;
	   	margin: auto;
	   }

	   @include bp(m){
			padding-top: 60px;

			.inner{
				width: auto;
				text-align: center;
			}
	   }

	   .fc-icons{
			float: left;
			color: $color_bed;

	   	a{
	   		font-size: 70px;

	   		&:hover{
	   			color: #fff;
	   		}
	   	}

	   	@include bp(m){
	   		float: none;
				

				a{
					font-size: 54px;
					float: none;
				}
			}
	   }

	   .title{
	   	float: left;
	   	font-size: 86px;
	   	line-height: 68px;
	   	font-family: $font_bebas;

	   	a{
	   		color: #fff;

	   		&:hover{
	   			color: $color_fc_accent;
	   		}
	   	}

	   	@include bp(m){
				font-size: 50px;
				text-align: center;
				line-height: normal;
				float: none;

				
	   	}
	   }

	   .tag{
	   	color: $color_fc_accent;
	   	font-family: "LatoLightItalic";
	   	text-align: center;
	   	font-size: 45px;
	   	padding-top: 5px;
	   	clear: both;

	   	@include bp(m){
				font-size: 20px;
				padding-top: 0;
				
	   	}
	   }
	   
	}
	
	.footer{

		.site{

			a{
				color: $color_fc_accent;

				&:hover{
					background-color: #ccc;
					color: $page_bg;
	   		}
			}
		}
	}
}


#aim-high{

	a{
		color: $color_ah;

		&:hover{
   			color: #ccc;
   		}
	}

	.header{
		color: $color_main;
	}

	.cover{
	   background-color: #fff;
	   border-bottom: $color_ah 6px spoid;
	   position: relative;

	   img{
	   	position: absolute;
	   	bottom: 0;
	   	left: 0;
	   	max-width: 100%;
	   }
	}
	
	.footer{
		.site{

			a{
				color: $color_ah;

				&:hover{
					background-color: #ccc;
					color: $page_bg;
	   		}
			}
		}
	}
}







